

#roast-selection{
    width: 100%;

}
.formRoast{
    margin:10px 0;
}
.divform{
    box-sizing:border-box;
    width: 40%;
    float:right;
}

.roast {
    box-sizing: border-box;
    color: grey;
    font-size: 12px;
}
.coffee{
    width: 50%;
    display: inline-block;
}
#coffees {
    box-sizing: border-box;
    width: 60%;
}